@{
    ViewData["Title"] = "About Us";
}
<head>
    <style type="text/css">
        h2 {
            font-size: 90px;
            font-family: 'Times New Roman', Times, serif;
        }

        div {
            background-color: antiquewhite;
        }

        h3 {
            font-size: 33px;
        }

        p {
            font-size: 23px;
            font-family: 'Times New Roman', Times, serif;
        }
    </style>
</head>
<div>
    <h3>@ViewData["Title"]</h3>
    <h2>Rajinder's Thermometer production company</h2>

    <p>
        This company consists  distinct type of thermometer which include various properties like
        features, the cost , Temperatures and age
        and a headquater which also  look  after more than 100 employee.
    </p>
    <p><h1>Note</h1></p>
    <p> This is certified by all categories</p>
</div>