@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style type="text/css">
        h1 {
            font-family: Tahoma;
        }

        p {
            font-size: 17px;
        }

        div {
            background-color: lightgoldenrodyellow;
        }
    </style>
</head>
<div class="text-center">
    <h1 class="display-4">Thermometer</h1>
    <p>
        About Us  :- <a href="Home/AboutUs"> link</a>
    </p>
    <h3>Images</h3>
    <img src="~/images/download (1).png" width="200" height="200" />
    <img src="/images/download.png" width="200" height="200" />
    <img src="/images/image.png" width="200" height="200" />

</div>
